$main: #BDD99E;
$background: #476930;

.WhiteBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4rem;
    background: $main;
    text-align: center;
    border-radius: .5rem;
    .Servlet{
        font-size: 45px;
    }
}

.LittleSquare{
    padding-top: 15px;
    padding-bottom: 5px;
    background: $main;
    text-align: center;
    margin: 0 4rem;
    margin-bottom: 10px;
    border-radius: .5rem;
    li{
        list-style-type: none;
    }
    img{
       width: 100px;
       height: auto;
    }
}
