<section class="Entry">
  
  <div class="WhiteBox">
      <a href="./servlet" class="Servlet"> Servlet </a>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante diam, auctor vitae tortor a, ullamcorper egestas risus. Vestibulum porta posuere dolor, at aliquam sem lobortis non. In luctus diam sit amet risus placerat auctor. Vivamus ultrices rutrum erat, sed auctor urna ultrices id. Curabitur condimentum diam a mattis tincidunt. Quisque convallis lorem metus, nec tempor neque luctus eget. Nulla pharetra vitae urna nec sagittis. Suspendisse posuere pellentesque libero, id faucibus massa. Proin in orci dui. Curabitur ut accumsan neque. Donec ut tellus justo. Ut vitae hendrerit dui. Donec eget ante varius, egestas ligula at, feugiat lacus. Quisque malesuada nunc ac mauris interdum, sed feugiat felis tincidunt.

        Nunc a neque ut diam porttitor euismod eu eget diam. Aliquam auctor tempor diam non sollicitudin. Nam ullamcorper lobortis augue, et elementum diam convallis ac. Suspendisse sodales odio eu pellentesque varius. Quisque viverra, magna in pellentesque varius, leo nunc sodales neque, vitae aliquet diam turpis in orci. In id risus id quam ultrices elementum sed eget velit. Nam quis ornare velit. Phasellus fringilla tellus quis neque imperdiet aliquet. Nulla neque nulla, faucibus eget mollis id, scelerisque et nulla. Praesent nec neque nibh. Aenean luctus elementum felis vel lacinia. Aliquam maximus arcu eu libero mollis rutrum. Donec eget metus non mauris dapibus iaculis eu eget odio. Phasellus malesuada ex a nibh maximus, a fringilla risus auctor. Morbi eget risus at mauris lacinia porta sit amet sit amet nibh.</p>
  </div> 

  <div class="LittleSquare">
  <button (click) = "getItems()" class="bigbtn"> Get Items! </button>

   <ul>
      <li *ngFor="let it of itemsList"> 
        Name: {{it.name}} <br> size: {{it.size}} <br> price: {{it.price}} <br>
        <img src="{{it.image}}" alt="ImageOfBoots">
      </li>
    </ul>

  </div>  

  <div class="LittleSquare">
       <p> Write here. </p>
       <form (keyup)="getName(name.value)"> 
         <label> Name:</label>
         <input type="text" #name  name="name" required class="input">
       </form>

       <form #price="ngForm" (keyup)="getPrice(price)">
          <label> Price: </label>
          <input type="number" name="price" ngModel required class="input">
       </form>

       <form #size="ngForm" (keyup)="getSize(size)">
        <label> Size: </label>
        <input type="number" name="size" ngModel required class="input">
       </form>

       <form (keyup)="getImage(image.value)">
        <label> Image:</label>
        <input type="text" #image  name="image" required class="input"><br>
       </form>

       <button (click)="OnClick()" class="lilbtn"> Do it! </button>
  </div>

</section>